<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


    </style>
</head>
<body>

<table id="customers">
    <tr>
        <th>Year</th>
        <th>Product</th>
        <th>Sale</th>
    </tr>
    {%for data in content %}
    <tr>
        <td>{{data.year}}</td>
        <td>{{data.petroleum_product}}</td>
        <td>{{data.sale}}</td>
    </tr>
    {% endfor %}
</table>



</body>
</html>